!!!
%html{lang: @globals.language}
  %head
    = @render_partial 'shared/_assets.header'

  %body{class: "#{@body_class}"}
    .content-wrapper.container

      %header
        = @render_partial 'shared/_header'

      .content-inner-wrapper
        %main
          = @body

      %footer
        = @render_partial 'shared/_footer'

    = @render_partial 'shared/_assets.footer'
